<app-container class="dedicated-teams-container">
  <div class="dedicated-teams-container-item">
    <app-title class="fw-bold">{{
      "DEDICATED_TEAMS.TITLE" | translate
    }}</app-title>
    <app-text-secondary>{{
      "DEDICATED_TEAMS.TITLE_DESCRIPTION" | translate
    }}</app-text-secondary>
  </div>

  <div class="dedicated-teams-container-item">
    <app-title>{{
      "DEDICATED_TEAMS.WORKING_WITH_BUSINESSES" | translate
    }}</app-title>
    <app-text-secondary>{{
      "DEDICATED_TEAMS.WORKING_WITH_BUSINESSES_DESCRIPTION" | translate
    }}</app-text-secondary>
  </div>

  <div class="dedicated-teams-container-item">
    <app-title>{{
      "DEDICATED_TEAMS.OUR_TECHNOLOGY_STACK" | translate
    }}</app-title>
    <app-text-secondary>{{
      "DEDICATED_TEAMS.OUR_TECHNOLOGY_STACK_DESCRIPTION" | translate
    }}</app-text-secondary>
  </div>

  <div class="dedicated-teams-container-item">
    <app-title>{{ "DEDICATED_TEAMS.WHY_THIS_FORM" | translate }}</app-title>
    <app-text-secondary>{{
      "DEDICATED_TEAMS.WHY_THIS_FORM_DESCRIPTION" | translate
    }}</app-text-secondary>
  </div>
</app-container>
