@import 'global';

.stat {
  font-size: get-font('md');
  font-weight: bold;
  margin-bottom: 0;
}

.description {
  max-width: 12rem;
}

.description {
  font-size: get-font('sm');
  font-weight: bold;
}

@media #{$media-laptop} {
  .stat {
    font-size: get-media-font('laptop', 'md');
  }
  
  .description {
    font-size: get-media-font('laptop', 'xs');
  }
}
