<div class="card">
  <div class="flex">
    <app-text class="number">{{ number }}</app-text>
    <div class="textContaier">
      <app-sub-title>{{ title }}</app-sub-title>
      <app-text-secondary>{{ text }}</app-text-secondary>
    </div>
  </div>
</div>

<div class="card-mobile">
  <div class="header">
    <app-text class="number">{{ number }}</app-text>
    <app-sub-title class="caption">{{ title }}</app-sub-title>
  </div>
  <div class="content">
    <app-text-secondary>{{ text }}</app-text-secondary>
  </div>
</div>
